In [2]:
import pandas as pd

In [1]:
date = {
    "Alina": [60, 165, True],
    "Bogdan": [72, 183, False],
    "Ciprian": [69, 178, False],
    "Diana": [55, 152, True],
    "Elena": [58, 168, True],
    "Andrei": [80, 185, False],
    "Mihai": [75, 177, False],
    "Irina": [62, 170, True],
    "Florin": [90, 190, False],
    "Maria": [53, 160, True],
    "Vlad": [70, 175, False],
    "Ioana": [50, 155, True],
    "Radu": [68, 172, False],
    "Ana": [59, 162, True],
    "George": [85, 182, False],
    "Larisa": [61, 167, True],
    "Stefan": [78, 180, False],
    "Bianca": [56, 158, True],
    "Paul": [74, 176, False],
    "Oana": [54, 163, True],
    "Cosmin": [82, 188, False],
    "Teodora": [57, 159, True],
    "Ionut": [76, 181, False],
    "Gabriela": [60, 164, True]
}

In [3]:
pd.DataFrame(date)

,Alina,Bogdan,Ciprian,Diana,Elena,Andrei,Mihai,Irina,Florin,Maria,...,George,Larisa,Stefan,Bianca,Paul,Oana,Cosmin,Teodora,Ionut,Gabriela
0,60,72,69,55,58,80,75,62,90,53,...,85,61,78,56,74,54,82,57,76,60
1,165,183,178,152,168,185,177,170,190,160,...,182,167,180,158,176,163,188,159,181,164
2,True,False,False,True,True,False,False,True,False,True,...,False,True,False,True,False,True,False,True,False,True

In [ ]:
pd.DataFrame(date.values(), columns=["Greutate", "Inaltime", "Voce_Subtire"])

    Greutate  Inaltime  Voce_Subtire
0         60       165          True
1         72       183         False
2         69       178         False
3         55       152          True
4         58       168          True
5         80       185         False
6         75       177         False
7         62       170          True
8         90       190         False
9         53       160          True
10        70       175         False
11        50       155          True
12        68       172         False
13        59       162          True
14        85       182         False
15        61       167          True
16        78       180         False
17        56       158          True
18        74       176         False
19        54       163          True
20        82       188         False
21        57       159          True
22        76       181         False
23        60       164          True

In [6]:
pd.DataFrame(date.values(), columns=["Greutate", "Inaltime", "Voce_Subtire"], index=date.keys())

          Greutate  Inaltime  Voce_Subtire
Alina           60       165          True
Bogdan          72       183         False
Ciprian         69       178         False
Diana           55       152          True
Elena           58       168          True
Andrei          80       185         False
Mihai           75       177         False
Irina           62       170          True
Florin          90       190         False
Maria           53       160          True
Vlad            70       175         False
Ioana           50       155          True
Radu            68       172         False
Ana             59       162          True
George          85       182         False
Larisa          61       167          True
Stefan          78       180         False
Bianca          56       158          True
Paul            74       176         False
Oana            54       163          True
Cosmin          82       188         False
Teodora         57       159          True
Ionut           76       181         False
Gabriela        60       164          True