# pip install pandas

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
pd.Series([101, 202, 302, 4031])

0     101
1     202
2     302
3    4031
dtype: int64

In [5]:
pd.DataFrame([101, 202, 302, 4031])

      0
0   101
1   202
2   302
3  4031

In [6]:
pd.DataFrame([[101, 202, 302, 4031],[101, 202, 302, 4031]])

     0    1    2     3
0  101  202  302  4031
1  101  202  302  4031

In [7]:
df = pd.DataFrame([101, 202, 302, 4031], columns=["masuratori"])
df

   masuratori
0         101
1         202
2         302
3        4031

In [8]:
df.to_csv("masuratori.csv")

In [9]:
df.to_json("masuratori.json")

In [12]:
df_citit = pd.read_csv("masuratori.csv", index_col=0)
df_citit

   masuratori  temperaturi
0         101           20
1         202           30
2         302           25
3        4031           40

In [13]:
df_citit.describe()

        masuratori  temperaturi
count     4.000000     4.000000
mean   1159.000000    28.750000
std    1916.424275     8.539126
min     101.000000    20.000000
25%     176.750000    23.750000
50%     252.000000    27.500000
75%    1234.250000    32.500000
max    4031.000000    40.000000

In [14]:
df_citit.dtypes

masuratori     int64
temperaturi    int64
dtype: object