In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df =  pd.read_csv("https://raw.githubusercontent.com/sojog/Machine-Learning-Tensorflow-ADR-25februarie-2martie-2026/refs/heads/main/Ziua2/boston_data.csv", index_col="ID")
df

     indus  chas    nox     rm   age     dis  rad  tax  ptratio  lstat  medv
ID
1     2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3   4.98  24.0
2     7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8   9.14  21.6
4     2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7   2.94  33.4
5     2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7   5.33  36.2
7     7.87     0  0.524  6.012  66.6  5.5605    5  311     15.2  12.43  22.9
..     ...   ...    ...    ...   ...     ...  ...  ...      ...    ...   ...
500   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2  15.10  17.5
502  11.93     0  0.573  6.593  69.1  2.4786    1  273     21.0   9.67  22.4
503  11.93     0  0.573  6.120  76.7  2.2875    1  273     21.0   9.08  20.6
504  11.93     0  0.573  6.976  91.0  2.1675    1  273     21.0   5.64  23.9
506  11.93     0  0.573  6.030  80.8  2.5050    1  273     21.0   7.88  11.9

[333 rows x 11 columns]

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.keys()

Index(['indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio',
       'lstat', 'medv'],
      dtype='object')

In [ ]:
# CRIM - per capita crime rate by town
# ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
# INDUS - proportion of non-retail business acres per town.
# CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
# NOX - nitric oxides concentration (parts per 10 million)
# RM - average number of rooms per dwelling
# AGE - proportion of owner-occupied units built prior to 1940
# DIS - weighted distances to five Boston employment centres
# RAD - index of accessibility to radial highways
# TAX - full-value property-tax rate per $10,000
# PTRATIO - pupil-teacher ratio by town
# B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
# LSTAT - % lower status of the population
# MEDV - Median value of owner-occupied homes in $1000's

In [ ]:
# x si y ??

In [ ]:
df["medv"] # iau o coloana ca serie

ID
1      24.0
2      21.6
4      33.4
5      36.2
7      22.9
       ...
500    17.5
502    22.4
503    20.6
504    23.9
506    11.9
Name: medv, Length: 333, dtype: float64

In [18]:
y = df[["medv"]] # iau o coloana ca DataFrame
y

     medv
ID
1    24.0
2    21.6
4    33.4
5    36.2
7    22.9
..    ...
500  17.5
502  22.4
503  20.6
504  23.9
506  11.9

[333 rows x 1 columns]

In [20]:
x = df[['indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio',
       'lstat']]
x

     indus  chas    nox     rm   age     dis  rad  tax  ptratio  lstat
ID
1     2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3   4.98
2     7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8   9.14
4     2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7   2.94
5     2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7   5.33
7     7.87     0  0.524  6.012  66.6  5.5605    5  311     15.2  12.43
..     ...   ...    ...    ...   ...     ...  ...  ...      ...    ...
500   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2  15.10
502  11.93     0  0.573  6.593  69.1  2.4786    1  273     21.0   9.67
503  11.93     0  0.573  6.120  76.7  2.2875    1  273     21.0   9.08
504  11.93     0  0.573  6.976  91.0  2.1675    1  273     21.0   5.64
506  11.93     0  0.573  6.030  80.8  2.5050    1  273     21.0   7.88

[333 rows x 10 columns]

In [23]:
x = df.drop("medv", axis=1)
x

     indus  chas    nox     rm   age     dis  rad  tax  ptratio  lstat
ID
1     2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3   4.98
2     7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8   9.14
4     2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7   2.94
5     2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7   5.33
7     7.87     0  0.524  6.012  66.6  5.5605    5  311     15.2  12.43
..     ...   ...    ...    ...   ...     ...  ...  ...      ...    ...
500   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2  15.10
502  11.93     0  0.573  6.593  69.1  2.4786    1  273     21.0   9.67
503  11.93     0  0.573  6.120  76.7  2.2875    1  273     21.0   9.08
504  11.93     0  0.573  6.976  91.0  2.1675    1  273     21.0   5.64
506  11.93     0  0.573  6.030  80.8  2.5050    1  273     21.0   7.88

[333 rows x 10 columns]